<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/login.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div>LOGIN PAGE</div>
    <input type="text" id="id" placeholder="아이디" />
    <input type="password" id="password" placeholder="패스워드" />
    <button id="loginBtn">로그인</button>
  </body>
</html>
