<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <script src="/js/login.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <!-- <form class="register-form">
          <input type="text" placeholder="name" />
          <input type="password" placeholder="password" />
          <input type="text" placeholder="email address" />
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form> -->
        <form class="login-form">
          <input id="id" type="text" placeholder="아이디" />
          <input id="password" type="password" placeholder="비밀번호" />
          <button id="loginBtn">login</button>
          <p class="message">
            Not registered? <a href="/register">Create an account</a>
          </p>
        </form>
      </div>
    </div>
    <!-- <div>LOGIN PAGE</div>
    <input type="text" id="id" placeholder="아이디" />
    <input type="password" id="password" placeholder="패스워드" />
    <button id="loginBtn">로그인</button> -->
  </body>
</html>
